* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: #DFECF5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h2{
    text-align: center;
    margin-top: 5rem;
    font-size: 5rem;
}
.boardbox{
    background: white;
    width: 25rem;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.board{
    display: grid;
    gap: 3rem;
    padding: 2rem;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.cell{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid #5ADAFD;
    height: 2.5rem;
    width: 2.5rem;
}
.hint{
    color: green;
}
