* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background:  linear-gradient(135deg, #667eea 0%, #764ba2 100%);;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h2{
    text-align: center;
    margin-top: 3rem;
    font-size: 5rem;
    color: white;
}
.boardbox{
   background-color: rgba(255, 255, 255, 0.1);;
    display: flex;
    box-shadow: 0 24px 6px rebeccapurple;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boardbox p{
    font-size: 20px;
}
.board{
    display: grid;
    gap: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.cell{
    background-color: rgba(255, 255, 255, 0.1);
    color: bisque;
    border: 1px solid  #667eea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    height: 6vw;
    font-weight: bold;
    width: 6vw;
    border-radius: 10px;
}
.cell:hover{
    background-color:  rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.hint{
    color: whitesmoke;
}
button{
    box-shadow: 0 2px 3px 4px #764ba2;
   
}
button:hover{
    box-shadow: 0 2px 4px 6px #764ba2;
}
